  /*****************************************************/
 /* Estilização para página inicial do banco de dados */
/*****************************************************/

/* Corpo principal */
body {
    background-color: rgba(70, 42, 104, 1.00);
    color: white;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    align-items: center;
    /*border: solid 2px white;*/
    background-color: rgba(109, 65, 161, 1.00);
    display: flex;
    height: 20vh;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100vw;
}

/* Navegação */
nav {
    align-items: center;
    /*border: solid 2px white;*/
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;

}

/* Formulário */
form {
    border: solid 2px white;
}

/* Identificadores */
label {
    border: solid 2px white;
}
